body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}
h1 + p{
    text-indent: 0;
}
h2 {
    border-bottom: 2 px solid #333333;
    margin-top: 30px;
}
p {
    padding: 0 45px;
    text-indent: 15px;
}
p::first-letter{
    font-weight: bold;
}
p::first-line{
    font-variant: small-caps;
}
h3 {
    background-color: #F2EDED;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}
#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}
#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}
.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-opcoes ul {
font-size: 15px;
}
.menu-opcoes a {
    color:  #003366;
} 
.ul li {
    display: inline;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.container {
    /*margin: 0 auto;
    width: 940px; */
    max-width: 1200px; /* Definindo uma largura máxima */
    margin: 0 auto;
    padding: 0 20px; /* Adicionando um espaçamento interno */
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente */
    align-items: center;
    
}

header {
    position: relative;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
    /*ajeitar esse rodapé depois!!! */
}
footer .container {
    position: relative;
}
/* posicionar melhor depois */
.social {
    position: absolute;
    top: 8px;
    right: 0;
}
.social a {
    /* tamanho da imagem*/
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}
.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}
.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}
.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}
.social li{
    float: left;
    margin-left: 25px;
}
.facebook {
    /* tamanho do elemento = imagem */
    height: 55px;
    width: 85px;
    /* imagem como fundo */
    background-image: url(../img/facebook.png);
    /* retirando o texto da frente */
    text-indent: -9999px;
}
:not(p) + p::first-line {
    font-variant: small-caps;
}
/* Estilos padrão */
.container {
    width: 80%; /* Porcentagem da largura do viewport */
    margin: 0 auto; /* Centraliza o conteúdo */
  }
  
  /* Estilos para telas menores que 768px */
  @media screen and (max-width: 768px) {
    .container {
      width: 90%; /* Reduz a largura para telas menores */
    }
  }
  
  /* Estilos para telas menores que 576px */
  @media screen and (max-width: 576px) {
    .container {
      width: 95%; /* Reduz ainda mais a largura para telas muito pequenas */
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
 